@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Open Sans', sans-serif;
    background-color: #36383e;
    color: rgba(255, 255, 255, 0.877);
    overflow-x: hidden;
}

li {
    list-style: none;
}

.container {
    display: flex;
    flex-direction: column;
    position: relative;
}

/* HEADER */

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 50px;
    height: 75px;
    background-color: #2e3137;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    position: sticky;
    top: 0;
    left: 0;
}

.header__logo {
    font-weight: 400;
}

.header__button {
    font-size: 16px;
    font-weight: 300;
    background-color: #5662e8;
    color: rgba(255, 255, 255, 0.877);
    border: 0;
    border-radius: 5px;
    padding: 10px 15px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    transition: all 100ms ease;
}

.header__button:hover {
    cursor: pointer;
    filter: brightness(85%);
}

/* MAIN */

.main__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
    height: calc(100vh - 75px);
}

.main__login--prompt {
    font-size: 36px;
}

.main__login--button {
    font-size: 24px;
    background-color: #5662e8;
    color: rgba(255, 255, 255, 0.877);
    border: 0;
    border-radius: 5px;
    padding: 15px 25px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    transition: all 100ms ease;
}

.main__login--button:hover {
    cursor: pointer;
    filter: brightness(85%);
}

/* CHAT ROOM */
.chatroom__message--container {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 90vh;
}

.chatroom__message {
    display: flex;
    align-items: center;
    gap: 30px;
    padding: 10px 75px;
}

.chatroom__message--photo {
    width: 45px;
    height: 45px;
    border-radius: 50%;
}

.chatroom__message--right {
    display: flex;
    flex-direction: column;
    gap: 3px;
}

.chatroom__message--name-time {
    display: flex;
    align-items: center;
    gap: 15px;
}

.chatroom__message--name {
    font-weight: 700;
    font-size: 16px;
    color: #e8a40e;
}

.chatroom__message--time {
    font-weight: 300;
    font-size: 14px;
    color:rgba(255, 255, 255, 0.74);
}

.chatroom__message--text {

}

.chatroom__form--backdrop { /* this has broken */
    position: sticky;
    bottom: 0;
    left: 0;
    margin: 0 auto;
    width: 100vw;
    height: 50px;
    background-color: #36383e;
}

.chatroom__form {
    position: sticky;
    bottom: 0;
    left: 0;
    z-index: 1;
    margin: 0 auto;
    width: calc(100vw - 75px);
}

.chatroom__text-input {
    height: 50px;
    width: 100%;
    margin: 15px 15px;
    padding-left: 25px;
    box-sizing: border-box;
    border: 0;
    border-radius: 15px;
    background-color: #41454b;
    color: rgba(255, 255, 255, 0.877);
    font-size: 16px;
}

.chatroom__text-input:focus {
    outline: none;
}